body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #333;
}

header {
  background: #4CAF50;
  color: white;
  text-align: center;
  padding: 10px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  gap: 20px;
  padding: 20px;
}

.product-card {
  background: white;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  width: 60%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.rating {
  font-size: 20px;
  color: #ccc;
  cursor: pointer;
}

.rating .active {
  color: gold;
}

.cart-btn {
  margin-top: 10px;
  padding: 10px 20px;
  background: #4CAF50;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition:background 0.3s;
}

.cart-btn:hover {
  background: #45a049;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
